{% form_theme form 'bootstrap_5_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-sucess popupbutton mt-3 main-button-icon">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
