<!DOCTYPE html>
<html lang="en">

  <head>
$paid=$checkout_session->payment_status;
        if($paid=="unpaid"){
            echo("paiement incoret");
        }
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Erreur 404</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/templatemo-breezed.css">

    <!-- <link rel="stylesheet" href="assets/css/owl-carousel.css"> -->

    <link rel="stylesheet" href="assets/css/lightbox.css">

    </head>
    
    <body>
    
    {% include 'front/nav.html.twig' %}
    <!-- ***** Header Area End ***** -->
    
    <!-- ***** Search Area ***** -->
    

    <!-- ***** Main Banner Area Start ***** -->
   
          <!-- // Item -->
     
    <!-- ***** Main Banner Area End ***** -->

    
    <!-- ***** Projects Area Starts ***** -->
    <section class="section" id="projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="section-heading">
                    <h6 style="font-size:3rem!important;">Erreur 404</h6>
                    <h2 style="font-size:1rem!important; color:#323232!important;">La ressource demandée est introuvable.</h2>
                </div>
                <div class="filters">
                
                
                </div>
            </div>
            
        </div>
        
        <a href="{{ path('app_front') }}" style="margin-top:2rem;" class="main-button-icon">retour à l'accueil<i class="fa fa-arrow-right"></i></a>
        
    </div>
    
    </section>
   
    {% include 'front/footer.html.twig' %}