<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Galerie photos</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/templatemo-breezed.css">

    <!-- <link rel="stylesheet" href="assets/css/owl-carousel.css"> -->

    <link rel="stylesheet" href="assets/css/lightbox.css">

    </head>
    
    <body>
    
    {% include 'front/nav.html.twig' %}
    <!-- ***** Header Area End ***** -->
    
    <!-- ***** Search Area ***** -->
    

    <!-- ***** Main Banner Area Start ***** -->
   
          <!-- // Item -->
     
    <!-- ***** Main Banner Area End ***** -->

    
    <!-- ***** Projects Area Starts ***** -->
    <section class="section" id="projects">
      <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="section-heading">
                    <h6>Galerie Photos</h6>
                    <h2></h2>
                </div>
                <div class="filters">
                <p>La galerie photos des Tuileries, restaurant à Mâcon en bord de Saône</p>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="filters-content">
                    <div class="row grid">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all tsh">
                          <div class="item">
                            <a href="assets/images/gallerie1.webp" data-lightbox="image-1" data-title="Our Projects"><img src="assets/images/gallerie1.webp" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all dev">
                          <div class="item">
                            <a href="assets/images/gallerie2.webp" data-lightbox="image-1" data-title="Our Projects"><img src="assets/images/gallerie2.webp" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all des">
                          <div class="item">
                            <a href="assets/images/gallerie3.webp" data-lightbox="image-1" data-title="Our Projects"><img src="assets/images/gallerie3.webp" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all des">
                          <div class="item">
                            <a href="assets/images/gallerie4.webp" data-lightbox="image-1" data-title="Our Projects"><img src="assets/images/gallerie4.webp" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all dev">
                          <div class="item">
                            <a href="assets/images/gallerie5.webp" data-lightbox="image-1" data-title="Our Projects"><img src="assets/images/gallerie5.webp" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all gra">
                          <div class="item">
                            <a href="assets/images/gallerie6.webp" data-lightbox="image-1" data-title="Our Projects"><img src="assets/images/gallerie6.webp" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all tsh">
                          <div class="item">
                            <a href="assets/images/gallerie1.webp" data-lightbox="image-1" data-title="Our Projects"><img src="assets/images/gallerie1.webp" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all dev">
                          <div class="item">
                            <a href="assets/images/gallerie2.webp" data-lightbox="image-1" data-title="Our Projects"><img src="assets/images/gallerie2.webp" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all des">
                          <div class="item">
                            <a href="assets/images/gallerie3.webp" data-lightbox="image-1" data-title="Our Projects"><img src="assets/images/gallerie3.webp" alt=""></a>
                          </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
   
    {% include 'front/footer.html.twig' %}